<!DOCTYPE html PUBLIC '-//W3C//DTDXHTML1.0Transitional//EN' 'https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='https://www.w3.org/1999/xhtml'>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
		<body style='font-family:Tahoma;font-size:12px;color: #333333;background-color:#FFFFFF;'>
			<table align='center' border='0' cellpadding='0' cellspacing='0' style='height:842px; width:595px;font-size:12px;'>
				<tr>
					<td valign='top'>
						<table width='100%' cellspacing='0' cellpadding='0'>
							<tr>
								<td valign='bottom' width='50%' height='50'>
									<div align='left'><img src='https://zupimages.net/up/23/06/xyhr.jpg'/></div><br/></td>

								<td width='50%'>&nbsp;</td>
							</tr>
						</table>Destinataire:
						<br/><br/>
						<table width='100%' cellspacing='0' cellpadding='0'>
							<tr>
								<td valign='top' width='35%' style='font-size:12px;'>
									<strong>{{user.lastname}}
										{{user.firstname}}</strong><br/>
									{{orderDelivery.3}}
									<br>
									{{orderDelivery.4}}
									<br>
									{{orderDelivery.5}}
									<br>
									{{orderDelivery.6}}<br/>

								</td>
								<td valign='top' width='35%'></td>
								<td valign='top' width='30%' style='font-size:12px;'>Date de facturation:
									<br>
									{{date}}<br/>
								</td>
                <td valign='top' width='35%'></td>
								<td valign='top' width='30%' style='font-size:12px;'>Référence de commande:
									<br>
									{{order.reference}}<br/>
								</td>

							</tr>
						</table>
						<table width='100%' height='100' cellspacing='0' cellpadding='0'>
							<tr>
								<td>
									<div align='center' style='font-size: 14px;font-weight: bold;'>Facture №
										{{order.id}}
									</div>
								</td>
							</tr>
						</table>
						<table width='100%' cellspacing='0' cellpadding='2' border='1' bordercolor='#CCCCCC'>
							<tr>

								<td class="text-center" width='35%' bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'>
									<strong>Désignation
									</strong>
								</td>
								<td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'>
									<strong>Quantité</strong>
								</td>
								<td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'>
									<strong>Prix</strong>
								</td>
								<td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'>
									<strong>Total</strong>
								</td>

							</tr>
							<tr style="display:none;">
								<td colspan="*">

									{% for product in products %}
										<tr >

											<td class="text-center" valign='top' style='font-size:12px;'>{{product.product}}</td>
											<td valign='top' style='font-size:12px;'>{{product.quantity}}
											</td>
											<td valign='top' style='font-size:12px;'>{{(product.price /100) |number_format(2, ',','.') }}
												€
											</td>
											<td valign='top' style='font-size:12px;'>{{(product.total /100) |number_format(2, ',','.') }}
												€
											</td>

										</tr>
									{% endfor %}

								</td>
							</tr>
						</table>
						<table width='100%' cellspacing='0' cellpadding='2' border='0'>
							<tr>
								<td style='font-size:12px;width:50%;'>
									<strong></strong>
								</td>
								<td>
									<table width='100%' cellspacing='0' cellpadding='2' border='0'>
										<tr>
											<td align='right' style='font-size:12px;'>Total</td>
											<td align='right' style='font-size:12px;'>{{(total) |number_format(2, ',','.') }}€
											</td>
											<td></td>
										</tr>
										<td align='right' style='font-size:12px;'>Total TTC</td>
										<td align='right' style='font-size:12px;'>{{(totalCarrier) |number_format(2, ',','.') }}€
										</td>
										<td></td>
									</tr>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<table width='100%' height='50'>
				<tr>
					<td style='font-size:12px;text-align:justify;'>TVA non applicable, article 293B du code général des impôts</td>
				</tr>
			</table>
			<table width='100%' cellspacing='0' cellpadding='2'>
				<tr>
					<td width='33%' style='border-top:double medium #CCCCCC;font-size:12px;' valign='top'>
						<b>Gruut</b><br/>
						SIRET:  434 556 998 00258<br/>

					</td>
					<td width='33%' style='border-top:double medium #CCCCCC; font-size:12px;' align='center' valign='top'>
						05 rue de la bienvenue - Paris - 75000
						<br/>
						Tél: 05-06-61-46-87<br/>
					</td>
				</tr>
			</table>
		</body>
	</head>
</html></td></tr></table></body></html>
