<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='https://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<body style='font-family:Tahoma;font-size:12px;color: #333333;background-color:#FFFFFF;'>
<table align='center' border='0' cellpadding='0' cellspacing='0' style='height:842px; width:595px;font-size:12px;'>
  <tr>
    <td valign='top'><table width='100%' cellspacing='0' cellpadding='0'>
        <tr>
          <td valign='bottom' width='50%' height='50'><div align='left'><img src='https://zupimages.net/up/23/06/xyhr.jpg' /></div><br /></td>

          <td width='50%'>&nbsp;</td>
        </tr>
      </table>Destinataire: <br/><br/>
      <table width='100%' cellspacing='0' cellpadding='0'>
      <tr>
        <td valign='top' width='35%' style='font-size:12px;'> <strong >{{user.lastname}} {{user.firstname}}</strong><br /> 
{{order.3}} <br> {{order.4}} <br> {{order.5}} <br> {{order.6}}<br />

</td>
        <td valign='top' width='35%'>
</td>
        <td valign='top' width='30%' style='font-size:12px;'>Date de facturation: 14/07/2021<br/>
		
		
		
		</td>

      </tr>
    </table>
    <table width='100%' height='100' cellspacing='0' cellpadding='0'>
      <tr>
        <td><div align='center' style='font-size: 14px;font-weight: bold;'>Facture №  553 </div></td>
      </tr>
    </table>
<table width='100%' cellspacing='0' cellpadding='2' border='1' bordercolor='#CCCCCC'>
      <tr>

        <td width='35%' bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Désignation </strong></td>
        <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Quantité</strong></td>
        <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Prix</strong></td>
        <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Total</strong></td>
  
        </tr>
      <tr style="display:none;"><td colspan="*"><tr>

<td valign='top' style='font-size:12px;'>mon produit</td>
<td valign='top' style='font-size:12px;'>3 </td>
<td valign='top' style='font-size:12px;'>60,00 </td>
<td valign='top' style='font-size:12px;'>180,00 </td>

</tr><tr>

<td valign='top' style='font-size:12px;'>mon service</td>
<td valign='top' style='font-size:12px;'>1 </td>
<td valign='top' style='font-size:12px;'>120,00 </td>
<td valign='top' style='font-size:12px;'>120,00 </td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr><tr>

<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>
<td valign='top' style='font-size:12px;'>&nbsp;</td>

</tr></td></tr>
    </table>
<table width='100%' cellspacing='0' cellpadding='2' border='0'>
      <tr>
        <td style='font-size:12px;width:50%;'><strong> </strong></td>
        <td><table width='100%' cellspacing='0' cellpadding='2' border='0'>
  <tr>
<td align='right' style='font-size:12px;' >Total</td>
    <td  align='right' style='font-size:12px;'>300,00 €<td>
  </tr>
  <tr>

    <td  align='right' style='font-size:12px;'><b>Total TTC</b></td>
    <td  align='right' style='font-size:12px;'><b>300,00 €</b></td>
  </tr></table>
</td>
      </tr>
</table> 
   
   <table width='100%' height='50'><tr><td style='font-size:12px;text-align:justify;'>TVA non applicable, article 293B du code général des impôts</td></tr></table>
    <table  width='100%' cellspacing='0' cellpadding='2'>
      <tr>
        <td width='33%' style='border-top:double medium #CCCCCC;font-size:12px;' valign='top' ><b>[Nom de l'entreprise]</b><br/>
SIRET:  [SIRET]<br/>

</td>
        <td width='33%' style='border-top:double medium #CCCCCC; font-size:12px;' align='center' valign='top'>
[Adresse] <br/>
Tél: [Téléphone]<br/>
</td>

        <td valign='top' width='34%' style='border-top:double medium #CCCCCC;font-size:12px;' align='right'>[Nom de la banque]<br/> [Compte bancaire (IBAN)]  <br/>SWIFT/BIC: [SWIFT/BIC] <br/>     
 </td>
      </tr>
    </table>
</td>
  </tr>
</table>
</body>
</html>