{% extends 'base.html.twig' %}

{% block title %}Vos données
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}">
{% endblock %}


{% block content %}
<header id="head" class="secondary" style="min-height: 80px; height:0px"></header>
<style>
	.secondary {
		background: none !important;
	}

	.navbar-inverse {
		background-color: #038C17;
		opacity: 1;
	}

	.top-space {
		margin-top: 0 !important;
	}
</style>

<div class="row">
			<div class="col-md-3 text-center" style="background-color: #EDEDED; border-right: 2px solid #898989">
			<div class="left-profile-container">
				<img src="{{ asset("assets/images/profil_img.png") }}" alt="">
				<h1 class="profileName">{{user.firstname}}
					{{user.lastname}}</h1>
			</div>
			<h3 class="profileDiv">Compte</h3>
			<br>
			<div class="my-profile btn btn-block center-block" style="background: #F4F8FF; width: 20vw;height: 64px; line-height: 8vh; ">
				<a href="{{path("profile_index")}}" class=""><i class="fa-regular fa-id-badge" style=" margin-right:1vw;"></i>Votre profil </a>
			</div>
			<br>
			<div class="my-adress btn btn-block center-block" style="background: #F4F8FF;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("address_recap")}}"><i class="fa-solid fa-box" style=" margin-right:1vw;"></i>Vos adresses</a>
			</div>
			<br>
			<div class="my-data btn btn-block center-block" style="background: #F4F8FF;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("profile_data")}}"><i class="fa-solid fa-database" style=" margin-right:1vw;"></i>Vos données</a>
			</div>
			<div class="my-data btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh; width: 20vw; height: 64px; line-height: 8vh;">
<a href="{{path("profile_delete_account")}}?resetSession={{true}}">
	<i class="fa-solid fa-trash" style=" margin-right:1vw;"></i>Supprimer son compte</a>

					
			</div>


			<h3 class="profileDiv">Achats</h3>
			<div class="my-order btn btn-block center-block" style="background: #F4F8FF; width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("profile_order_follow")}}"><i class="fa-solid fa-basket-shopping" style=" margin-right:1vw;"></i>Commandes et suivis </a>
			</div>
			<div class="bill btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("profile_bill")}}">
				<i class="fa-solid fa-file-invoice" style=" margin-right:1vw;"></i>
				Factures	</a>
			</div>
			<div class="profileDiv">
				<div class="log-out btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh;  margin-top:3vh;  width: 20vw;height: 64px; line-height: 8vh;">
					
					<a href="{{path("app_logout")}}"><i class="fa-solid fa-power-off" style=" margin-right:1vw;"></i> Se déconnecter</a>
				</div>
			</div>
		</div>

	<div class="col-md-9">

<h1 class="text-center">Vos données</h1><br>
<p>Nous prenons la protection de vos données personnelle au sérieux. Conformément au règlement RGPD, nous voulons vous informer de la collecte, de l'utilisation et de la conservation de vos données. Vous avez le droit de savoir quelles informations nous détenons sur vous et comment nous les utilisons. Veuillez nous contacter si vous avez des questions ou des préoccupations concernant vos données.</p>
<br>
<p>Pour pouvoir télécharger vos données, veuillez entrez votre mot de passe.</p>
<br>
		<div style="padding: 5vh;">
			{{ form_start(passwordVerif) }}
			{{ form_row(passwordVerif.passwordverif) }}
			<button class="btn btn-primary" style="float:right;">Confirmez</button>
			{{ form_end(passwordVerif) }}
		</div>
</div>
</div>

{% endblock %}
