{% extends 'base.html.twig' %}

{% block title %}Supprimer son compte
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}">
{% endblock %}


{% block content %}
<header id="head" class="secondary" style="min-height: 80px; height:0px"></header>
<style>
	.secondary {
		background: none !important;
	}

	.navbar-inverse {
		background-color: #038C17;
		opacity: 1;
	}

	.top-space {
		margin-top: 0 !important;
	}

	.profile-head h6{
    color: #0062cc;
}

</style>

{# <div class="row">
			<div class="col-md-3 text-center" style="background-color: #EDEDED; border-right: 2px solid #898989">
			<div class="left-profile-container">
				<img src="{{ asset("assets/images/profil_img.png") }}" alt="">
				<h1 class="profileName">{{user.firstname}}
					{{user.lastname}}</h1>
			</div>
			<h3 class="profileDiv">Compte</h3>
			<br>
			<div class="my-profile btn btn-block center-block" style="background: #F4F8FF; width: 20vw;height: 64px; line-height: 8vh; ">
				<a href="{{path("profile_index")}}" class=""><i class="fa-regular fa-id-badge" style=" margin-right:1vw;"></i>Votre profil </a>
			</div>
			<br>
			<div class="my-adress btn btn-block center-block" style="background: #F4F8FF;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("address_recap")}}"><i class="fa-solid fa-box" style=" margin-right:1vw;"></i>Vos adresses</a>
			</div>
			<br>
			<div class="my-data btn btn-block center-block" style="background: #F4F8FF;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("profile_data")}}"><i class="fa-solid fa-database" style=" margin-right:1vw;"></i>Vos données</a>
			</div>
			<div class="my-data btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh; width: 20vw; height: 64px; line-height: 8vh;">
<a href="{{path("profile_delete_account")}}?resetSession={{true}}">
	<i class="fa-solid fa-trash" style=" margin-right:1vw;"></i>Supprimer son compte</a>

					
			</div>


			<h3 class="profileDiv">Achats</h3>
			<div class="my-order btn btn-block center-block" style="background: #F4F8FF; width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("profile_order_follow")}}"><i class="fa-solid fa-basket-shopping" style=" margin-right:1vw;"></i>Commandes et suivis </a>
			</div>
			<div class="bill btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path("profile_bill")}}">
				<i class="fa-solid fa-file-invoice" style=" margin-right:1vw;"></i>
				Factures	</a>
			</div>
			<div class="profileDiv">
				<div class="log-out btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh;  margin-top:3vh;  width: 20vw;height: 64px; line-height: 8vh;">
					
					<a href="{{path("app_logout")}}"><i class="fa-solid fa-power-off" style=" margin-right:1vw;"></i> Se déconnecter</a>
				</div>
			</div>
		</div>

<div class="col-md-9">

	<h1 class="text-center">Supprimer son compte</h1><br>

<p>Vous avez la possibilité de demander la suppression de votre compte et de vos données personnelles enregistrées chez nous. Cependant, il est important de noter que certains de ces éléments, tels que les factures, doivent être conservés en raison des obligations légales et fiscales. Nous ferons de notre mieux pour effacer toutes les données personnelles en notre possession, mais certaines peuvent être exceptionnellement conservées.</p>
<br>
<p>Pour pouvoir supprimer vos données, veuillez entrez votre mot de passe.</p>
<br>

		<div style="padding: 5vh;">
			{{ form_start(passwordVerif) }}
			{{ form_row(passwordVerif.passwordverif) }}
			<button class="btn btn-primary" style="float:right;">Confirmez</button>
			{{ form_end(passwordVerif) }}
		</div>
</div>
</div> #}


<div class="container emp-profile" style="margin-top:0vh;">
            <form method="post">
                        <div class="profile-img">
                           <div class="left-profile-container">
								<img src="{{ asset("assets/images/profil_img.png") }}" alt="">
								<h1 class="profileName">{{user.firstname}} {{user.lastname}}</h1>			
							</div>
                        </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h4>
                                        {{user.firstname}} {{user.lastname}}
                                    </h4>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color:green !important;">Supprimer son compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"  style="color:green !important;">Modifier le mot de passe</a>
                                </li>
                                {# <li class="nav-item">
                                    <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="false"  style="color:green !important;">Données</a>
                                </li> #}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                         {# <a href="{{path('profile_modify', {'id' : id})}}"> <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/></a> #}
                    </div>
                </div>
                <div class="responsive row">
                    <div class="col-md-4">
                         <div class="profile-work">
                            <p>Compte</p>
                            <a href="{{path("profile_index")}}">Votre Profil</a><br/>
                            <a href="{{path("profile_index")}}">Votre Adresse</a><br/>
                            <a href="{{path("profile_index")}}">Vos données</a><br/>
                            <p>Achats</p>
                            <a href="{{path("profile_order_follow")}}">Commande et suivis</a><br/>
                            <a href="{{path("profile_order_follow")}}">Facture</a><br/>
							<p>Autre</p>
                            <a href="{{path('profile_delete_account')}}?resetSession={{true}}">Supprimer son compte</a><br/>
                            <a href="{{path('profile_delete_account')}}?resetSession={{true}}">Modifier son mot de passe</a><br/>
                            <a href="{{path("app_logout")}}">Se déconnecter</a>
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">			
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="text-center">Supprimer son compte</h1><br>
												<p style="color:grey !important">Vous avez la possibilité de demander la suppression de votre compte et de vos données personnelles enregistrées chez nous. Cependant, il est important de noter que certains de ces éléments, tels que les factures, doivent être conservés en raison des obligations légales et fiscales. Nous ferons de notre mieux pour effacer toutes les données personnelles en notre possession, mais certaines peuvent être exceptionnellement conservées.</p>
												<br>
                                                {% if passwordIsVerif == true %}
													<p style="color:grey !important">Nous vous avons envoyé un email contenant un lien de suppression de compte.</p>
                                                {% else %}
												<p style="color:grey !important">Pour pouvoir supprimer vos données, veuillez entrez votre mot de passe.</p>
												<br>
                                                {% endif %}
														<div style="padding: 5vh;">
                                                        {% if passwordIsVerif == true %}
																<p>Si vous n'avez reçu l'email, s'il vous plaît vérifiez vos spams ou
																	<a href="{{ path('profile_delete_account')}}?resetSession={{true}}">essayez de nouveau</a>.</p>

																{% else %}
															{{ form_start(passwordVerif) }}
															{{ form_row(passwordVerif.passwordverif) }}
															<button class="btn btn-primary" style="float:right;">Confirmez</button>
															{{ form_end(passwordVerif) }}
                                                        {% endif %}
														</div>
                                            </div>
                                        </div><hr>
                                        
                            </div>
							
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-12">
                                                		<h1 class="text-center">Modifier votre mot de passe</h1>
                                                        <br>
                                                        {# <div {% if alert != null %} {% if alert == "Votre mot de passe a bien été modifié, vous allez être redirigé vers votre profil." %} class="alert alert-success" {% else %} class="alert alert-danger" {% endif %} {% else %} {% endif %} role="alert">{{alert}}</div> #}
                                                        <br>
                                                        <div style="padding: 5vh;">
                                                            {# {{ form_start(resetForm) }}
                                                            {{ form_row(resetForm.oldPassword) }}
                                                            {{ form_row(resetForm.plainPassword) }} #}
                                                            <button class="btn btn-primary" style="float:right;">Reset password</button>
                                                            {# {{ form_end(resetForm) }} #}
                                                        </div>
                                            </div>
                                        </div><hr>
                            </div>

                        </div>
                    </div>
                </div>
            </form>         
        </div>
{% endblock %}

{% block script %}
	<script>

	</script>
{% endblock %}
