{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}

{% block content %}

	<header id="head" class="secondary" style="min-height: 80px; height:0px"></header>
	<style>
		.secondary {
			background: none !important;
		}

		.navbar-inverse {
			background-color: #038C17;
			opacity: 1;
		}

		.top-space {
			margin-top: 0 !important;
		}
		.card {
			position: relative;
			border-radius: 5px;
			width: 60%;
			float: none !important;
			margin: 0 auto !important;
			height: 254px;
			padding: 0.8em !important;
			background: #9fd19067;
			overflow: overlay;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		}

		.card-info {
			padding-top: 10%;
		}

		.card-footer {
			position: absolute;
			width: 85%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 10px;
			border-top: 1px solid #ddd;
			bottom: 0;
		}

		/*Text*/
		.text-title {
			font-weight: 900;
			font-size: 1.2em;
			line-height: 1.5;
		}

		.text-body {
			font-size: 0.9em;
			padding-bottom: 10px;
		}

		/*Button*/
		.card-button {
			display: flex;
			padding: 0.3em;
			cursor: pointer;
			border-radius: 50px;
			transition: 0.3s ease-in-out;
		}

		/*Hover*/
		.card:hover {
			/* transform: translateY(-5%);
    -ms-transform: scale(1.1); /* IE 9 */
			-webkit-transform: scale(1.1); /* Safari 3-8 */
			transform: scale(1.1);
			box-shadow: rgba(226, 196, 63, 0.25) 0 13px 47px -5px, rgba(180, 71, 71, 0.3) 0 8px 16px -8px;

		}

		.card-button:hover {
			border: 1px solid #0AAE22;
			background-color: #0AAE22;
		}

		#card-button-empty:hover {
			border: none !important;
			background-color: unset !important;
		}

		.animationcard {
			transform: scale(1.15);
		}


	</style>
	{# <div class="row">
		<div class="col-md-3 text-center" style="background-color: #EDEDED; border-right: 2px solid #898989">
			<div class="left-profile-container">
				<img src="{{ asset("assets/images/profil_img.png") }}" alt="">
				<h1 class="profileName">{{user.firstname}}
					{{user.lastname}}</h1>
			</div>
			<h3 class="profileDiv">Compte</h3>
			<br>
			<div class="my-profile btn btn-block center-block" style="background: #F4F8FF; width: 20vw;height: 64px; line-height: 8vh; ">
				<a href="{{path('profile_index')}}" class="">
					<i class="fa-regular fa-id-badge" style=" margin-right:1vw;"></i>Votre profil
				</a>
			</div>
			<br>
			<div class="my-adress btn btn-block center-block" style="background: #F4F8FF;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path('address_recap')}}">
					<i class="fa-solid fa-box" style=" margin-right:1vw;"></i>Vos adresses</a>
			</div>
			<br>
			<div class="my-data btn btn-block center-block" style="background: #F4F8FF;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path('profile_data')}}">
					<i class="fa-solid fa-database" style=" margin-right:1vw;"></i>Vos données</a>
			</div>
			<div class="my-data btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh; width: 20vw; height: 64px; line-height: 8vh;">
					<a href="{{path('profile_delete_account')}}?resetSession={{true}}">

					<i class="fa-solid fa-trash" style=" margin-right:1vw;"></i>Supprimer son compte</a>

			</div>


			<h3 class="profileDiv">Achats</h3>
			<div class="my-order btn btn-block center-block" style="background: #F4F8FF; width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path('profile_order_follow')}}">
					<i class="fa-solid fa-basket-shopping" style=" margin-right:1vw;"></i>Commandes et suivis
				</a>
			</div>
			<div class="bill btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh;  width: 20vw;height: 64px; line-height: 8vh;">
				<a href="{{path('profile_bill')}}">
					<i class="fa-solid fa-file-invoice" style=" margin-right:1vw;"></i>
					Factures
				</a>
			</div>
			<div class="profileDiv">
				<div class="log-out btn btn-block center-block" style="background: #F4F8FF; margin-bottom:5vh;  margin-top:3vh;  width: 20vw;height: 64px; line-height: 8vh;">

					<a href="{{path('app_logout')}}">
						<i class="fa-solid fa-power-off" style=" margin-right:1vw;"></i>
						Se déconnecter</a>
				</div>
			</div>
		</div>

		<div class="col-md-9 text-center">
			<h1 style="margin-bottom: 5vh;">Vos commandes</h1>
{% if orderDetails is empty %}
<hr>
<p>Vous n'avez pas encore passé de commande.</p>
{% endif %}

			
			{% for orderDetail in orderDetails %}
			<div class="card" style="height: 350px; margin:1vw; float:left;">
				{% set productArray = [] %}
				{% set total = 0 %}
				{% for product in orderDetail %}
				{% if product.myorder.id not in productArray %}
				<h3>Commande n°{{product.myorder.id}}</h3>
					{% set productArray = productArray|merge([product.myorder.id]) %}
				{% endif %}
				{% endfor %}
				<div class="col-md-6">
					<h4>Identifiant:</h4>
							{% set identityArray = [] %}
					{% for identity in orderDetail %}
							{% set identitySplit = identity.myorder.delivery|split('<br>') %}
							{% if identitySplit.0 not in identityArray %}
							{{identitySplit.0}} - {{identitySplit.1}} <br>
							{{identitySplit.3}} <br>
							{{identitySplit.4}} - {{identitySplit.5}} - {{identitySplit.6}} <br>
							{{identitySplit.2}} <br>
							<h4> Référence de commande: </h4>  <p style="text-decoration: underline;">{{identity.myorder.reference}} </p>
							<h4> Transporteur: </h4> <p style="font-style: italic;">{{identity.myorder.carriername}}</p>
							
							{% set identityArray = identityArray|merge([identitySplit.0]) %}
							{% endif %}
						
					{% endfor %}
				</div>
				<div class="col-md-6">
					<h4>Produit</h4>
				 {% set TTCArray = [] %}
								{% set total = 0 %}
								{% set totalTTC = 0 %}
								{% for product in orderDetail %} 
										{{ product.product }} x {{ product.quantity }} =
										{{ (product.price * product.quantity / 100)|number_format(2, ',','.') }} € <br>
									{% set total = total + product.price %}
									
									{% endfor %}
									
									<h3>Total: </h3>{{ (total /100)|number_format(2, ',','.')}} € <br>
									{% set totalTTC = totalTTC + total + orderDetail[0].myorder.carrierprice %}
									<h3>Total TTC: </h3>{{ (totalTTC /100)|number_format(2, ',','.')}} €
				</div>
			</div>
			<hr>
			{% endfor %}

		</div>


	</div>
</div> #}

	<div class="container emp-profile" style="margin-top:0vh;">
            <form method="post">
				<div class="profile-img">
				   <div class="left-profile-container">
						<img src="{{ asset("assets/images/profil_img.png") }}" alt="">
						<h1 class="profileName">{{user.firstname}} {{user.lastname}}</h1>
					</div>
				</div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h4>
                                        {{user.firstname}} {{user.lastname}}
                                    </h4>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color:green !important;">Commande et suivis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"  style="color:green !important;">Facture</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> -->
                    </div>
                </div>
                <div class="responsive row">
                    <div class="col-md-4">
                         <div class="profile-work">
                            <p>Compte</p>
                            <a href="{{path("profile_index")}}">Votre Profil</a><br/>
                            <a href="{{path("profile_index")}}">Votre Adresse</a><br/>
                            <a href="{{path("profile_index")}}">Vos données</a><br/>
                            <p>Achats</p>
                            <a href="{{path("profile_order_follow")}}">Commande et suivis</a><br/>
                            <a href="{{path("profile_order_follow")}}">Facture</a><br/>
							<p>Autre</p>
                            <a href="{{path('profile_delete_account')}}?resetSession={{true}}">Supprimer son compte</a><br/>
							<a href="{{path('profile_delete_account')}}?resetSession={{true}}">Modifier son mot de passe</a><br/>
                            <a href="{{path("app_logout")}}">Se déconnecter</a>
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">			
                                        <div class="row">
                                            <div class="col-md-12">
												<h1 class="text-center">Commandes</h1><br>
                                                {% if orderDetails is empty %}
													<hr>
													<p>Vous n'avez pas encore passé de commande.</p>
													{% endif %}

																
																{% for orderDetail in orderDetails %}
																<div class="card" style="height: 350px; margin:1vw; float:left;">
																	{% set productArray = [] %}
																	{% set total = 0 %}
																	{% for product in orderDetail %}
																	{% if product.myorder.id not in productArray %}
																	<h3>Commande n°{{product.myorder.id}}</h3>
																		{% set productArray = productArray|merge([product.myorder.id]) %}
																	{% endif %}
																	{% endfor %}
																	<div class="col-md-6">
																		<h4>Identifiant:</h4>
																				{% set identityArray = [] %}
																		{% for identity in orderDetail %}
																				{% set identitySplit = identity.myorder.delivery|split('<br>') %}
																				{% if identitySplit.0 not in identityArray %}
																				{{identitySplit.0}} - {{identitySplit.1}} <br>
																				{{identitySplit.3}} <br>
																				{{identitySplit.4}} - {{identitySplit.5}} - {{identitySplit.6}} <br>
																				{{identitySplit.2}} <br>
																				<h4> Référence de commande: </h4>  <p style="text-decoration: underline;">{{identity.myorder.reference}} </p>
																				<h4> Transporteur: </h4> <p style="font-style: italic;">{{identity.myorder.carriername}}</p>
																				<h4>Statut:</h4><p style="font-style: italic;">{{identity.myorder.state}}</p>
																				{% set identityArray = identityArray|merge([identitySplit.0]) %}
																				{% endif %}
																			
																		{% endfor %}
																	</div>
																	<div class="col-md-6">
																		<h4>Produit</h4>
																	{% set TTCArray = [] %}
																					{% set total = 0 %}
																					{% set totalTTC = 0 %}
																					{% for product in orderDetail %} 
																							{{ product.product }} x {{ product.quantity }} =
																							{{ (product.price * product.quantity / 100)|number_format(2, ',','.') }} € <br>
																						{% set total = total + product.price %}
																						
																						{% endfor %}
																						
																						<h3>Total: </h3>{{ (total /100)|number_format(2, ',','.')}} € <br>
																						{% set totalTTC = totalTTC + total + orderDetail[0].myorder.carrierprice %}
																						<h3>Total TTC: </h3>{{ (totalTTC /100)|number_format(2, ',','.')}} €
																						
																	</div>
																</div>
																<hr>
																{% endfor %}
																
                                            </div>
                                        </div>
                                        
                            </div>
							<hr>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
											{% for bill in bills %}
												{% if bill[0] is defined and bill[0] is not empty %}
                                            <div>
											<div class="col-md-6">
												<label>Facture:</label>
                                            </div>
                                            <div class="col-md-6">
												<a download href="{{asset(bill[0])}}?random={{random}}">Facture n°{{bill[1]}} </a>
											</div>
										</div><br><hr>
											{% else %}
											{% endif %}
											{% endfor %}
											{% if bills is empty %}
												<p>Vous n'avez pas encore de facture.</p>
											{% endif %}
		
										</div>
                            </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>         
        </div>


{% endblock %}
