{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block content %}
	<header id="head" class="secondary"></header>
	<style>
		.secondary {
			background: none !important;
		}
	</style>
	<div class="container">

		<h1>MON PANIER</h1>
		<p>Retrouver l'ensemble des produits que vous avez ajouté à votre panier sur cette page.</p>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Nom</th>
					<th scope="col">Prix</th>
					<th scope="col">Quantité</th>
					<th scope="col">Total</th>
					<th scope="col"></th>

				</tr>
			</thead>
			{% for product in cart %}
				<tbody>
					<tr>
						<td><img src="{{asset("assets/images/")}}{{product.product.illustration}}" alt="" srcset="" height="50px" class"img-fluid"></td>
						<td>{{product.product.name}}</td>
						<td>{{(product.product.price /100) |number_format(2, ',','.')}}€</td>
						<td>

							<a href="{{path ('cart_decrease' , {'id' : product.product.id})}}" class="btn btn-warning btn-xs">
								<i class="bi bi-cart-dash"></i>
							</a>

							{{product.quantity}}
							<a href="{{path ('cart_add' , {'id' : product.product.id})}}" class="btn btn-success btn-xs">
								<i class="bi bi-cart-plus"></i>
							</a>
						</td>

						<td>{{((product.product.price /100) * (product.quantity)) |number_format(2, ',','.') }}
							€</td>
						<td>
							<a href="{{path ('cart_delete' , {'id' : product.product.id})}}" class="btn btn-danger btn-xs">

								<i class="bi bi-cart-x"></i>
							</a>
						</td>

					</tr>
					{% else %}
					<td colspan='6' class="text-center">Vous n'avez pas d'articles dans votre panier. <br>
					<a href="{{path("category_index")}}">Regarder nos produits</a>
					</td>
	
				</tbody>
			{% endfor %}
		</table>


		<div class="text-right">
			<b>Nombre de produits: 
				 {{quantity.getQuantity()}} 
			</b><br>
			<b>Total de mon panier:
				{{ total |number_format(2, ',','.')}}
				€
			</b>
            <br>
            <br>

			{% if total == 0 %}
			<a href="{{path("category_index")}}" class="btn btn-danger btn-block">Votre panier est vide</a>
			</div>
			{% else %}
				
			<a href="{{path("order_index")}}" class="btn btn-success btn-block">Valider mon panier</a>
			{% endif %}
			
		</div>
	</div>
    <br>
{% endblock %}
