{% extends 'base.html.twig' %}

{% block test %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{asset('assets/css/contact.css')}}">
{% endblock %}


{% block content %}

<header id="head" class="secondary"></header>

<style>
    .secondary{
        background: none !important;
    }
    #up{
        background: #00000000;
        border: 0px;
    }
    #up:hover{
        background: #14141419;
        border: 0px;
        border-radius: 5px;
    }
    #down{
        background: #00000000;
        border: 0px;
    }
    #down:hover{
        background: #14141419;
        border: 0px;
        border-radius: 5px;
    }
    .form-control{
max-width: 470px;

    }

</style>
<br>
<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="infos col-sm-6">
            <div class="contact-infos" style="background: #025908b3; border-radius:15px; color: #FFFFFF; padding: 5%;">
                <h2 class="text-center" style="margin-top: 0vh;">Nos informations</h2>
                <span>
                    <h3><i class="fa fa-phone" aria-hidden="true" style=" margin-right:1vw;"></i>Appeler nous</h3>
                    <small>05-06-61-46-87</small>
                </span>
                <span>
                    <h3><i class="fa fa-map-marker" aria-hidden="true" style=" margin-right:1vw;"></i>Emplacement</h3>
                    <small>05 rue de la bienvenue</small>
                </span>
                <span>    
                    <h3><i class="fa fa-envelope" aria-hidden="true" style=" margin-right:1vw;"></i> Mail</h3>
                    <small>gruut.company@gmail.com</small>
                </span>
            </div>
        </div>
        <div class="infos2 col-sm-6" style="margin-top: 5vh;">
            <div class="contact-infos2" style="background: #ddddddb3; border-radius:15px;  padding:4vh;">
                <h2 class="text-center">Contactez-nous</h2><br>
                {% for msg in app.flashes('flash') %}
                    <div class="alert alert-success">
                        {{msg}}
                    </div>
                {% endfor %}
                {{form_start(form)}}
    {{ form_row(form.Name) }}
    {{ form_row(form.Email) }}
    {{ form_row(form.Subject) }}
    {{ form_row(form.Message) }}
<div>
<button style="visibility: hidden;"></button>
<button class="btn btn-primary" style="float:right;">Confirmez</button>
</div>

{{form_end(form)}}

            </div>
        </div>
    </div>
</div>


{% endblock %}