{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>

<h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {% if value == 5 %}
        {{ form_row(resetForm.oldPassword) }}
        {{ form_row(resetForm.plainPassword) }}
        {% endif %}
        {% if value != 5 %}
        {{ form_row(resetForm.plainPassword) }}
        {% endif %}
        
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
