{% extends 'base.html.twig' %}


{% block content %}
<br><br><br><br><br><br>
<main class="container">
<h2 class='text-center'>Récapitulation de la commande du client {{order.getuser().getFullName()}}</h2> <br>
<h4>Référence client : {{order.getReference()}} </h4>
<table class='table'>
    <tr >
        <th class='text-center'>Nom du produit</th>
        <th class='text-center'>Nombre de produit</th>
                
    </tr> 
{% for nameProduct,quantity in productOrder %}
    <tr>
        <td class='text-center' >{{nameProduct}}</td>
        <td class='text-center'>{{ quantity }}</td>
    </tr>          
{% endfor %}

</table>

<h3>Composants à commander pour cette commande</h3>

<table class='table table-bordered'> 
    <tr>
        <th class='text-center'>Nom du produit</th> 
        <th class='text-center'>Composition</th>
    </tr> 
        
{% for nameProduct,componants in componantsProducts %}
    <tr>
        <td class='text-center'>{{nameProduct}}</td>  
        <td class='text-center'>
        {% for componant in componants %}        
            [{{componant.name}}]  /Quantité => ({{componant.quantity}}) <br>              
        {% endfor %}
        </td>
    </tr> 
        
    
{% endfor %}
</table>

</main>




{% endblock %}