{% extends 'base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href="{{ asset("assets/css/product.css") }}">
{% endblock %}

{% block title %}Nos Produits
{% endblock %}

{% block content %}
	<header id="head" class="secondary" style="min-height: 80px; height:0px"></header>
	<style>
		.secondary {
			background: none !important;
		}
	</style>

<div class="container">

	<div class="row"  style="">
<div class="col-md-4 flexbyme2">


			<a href="{{ path ('product_show', { 'slug' : product.slug } ) }}"><img class="align-self-center img" src="{{ asset('assets/images/')}}{{product.illustration}} " alt="{{ product.name }}" class="img-fluid" width="300px"></a>
		</div>
		<div class="col-md-7" style="height: ">

			<h1>{{product.name}}</h1>
			<span class="product-subtitle">
			<h3>{{ product.subtitle }}</h3>	
			</span>
			{% set rateAverage = rateOfProduct %}
				{% if rateAverage is not null %}
					<span class="fa fa-star rateAverageStar"></span>
					<span class="fa fa-star rateAverageStar"></span>
					<span class="fa fa-star rateAverageStar"></span>
					<span class="fa fa-star rateAverageStar"></span>
					<span class="fa fa-star rateAverageStar"></span>
				
				{% endif %}
				
            <hr>
			<div class="flexbyme"></div>
			<p>{{ product.description }}</p>
			<h3 style="font-weight: bolder" class="product-price">
				<span style="text-decoration: underline">{{ (product.price / 100) |number_format(2, ",",".") }}€</span>	
				<a href=""></a>
			</h3>
			 {% if  product.stock > 0 %}

			<a class="btn-success btn click" href="{{path("cart_add", {"id" : product.id})}}">Ajouter au panier</a> <br> <br>
			<p>Quantité à l'achat :
<input type="number" id="quantityCart{{product.id}}" class="quantityCartShow" name="quantityCart" min="1" max="100" value="1"> 
<span class="validity"></span></p>

			{% else %}
				<p  class="text-danger">Produit temporairement en rupture de stock</p>
			{% endif %}

			
			
		</div>
	</div>

{% if commented != true and productUserBuy != false %}

	{{form_start(form)}}
	{{form_end(form)}}
	<hr>
	{% else %}
		<hr>
{% endif %}

	<div class="container">

		{% for rating in allRatings %}
  		<div class="row">	
			<div class="col-md-12">
				<i class="fa-solid fa-user"></i>  <span style="font-weight: bold">{{rating.user.firstname}}</span> <br>
				{% set rate = rating.rating %}
					<span class="fa fa-star rateStar"></span>
					<span class="fa fa-star rateStar"></span>
					<span class="fa fa-star rateStar"></span>
					<span class="fa fa-star rateStar"></span>
					<span class="fa fa-star rateStar"></span>  <br>
				{{rating.text}}
				 {% if rating.user == user %}
					<br>
					<a href="{{path("product_show_modify", { 'slug' : product.slug , 'id' : rating.id})}}" class="btn btn-primary floatModify">Modifier votre contenu</a>
				{% endif %} 
				
			</div>
		</div>
<hr>
		{% endfor %}
		
	</div>

</div>


{% endblock %}

{% block script %}

	<script>
	// sélectionne la note générale
let starsAverage = document.querySelectorAll(".rateAverageStar");
{% set rateAverage = rateOfProduct %}
// on implémente une variable venant de twig avec un json_encode
var rateAverage = {{rateAverage|json_encode|raw}};
for(i = 0; i < rateAverage; i++){
	// la boucle permet de coloré les étoiles, je fais une boucle sur RateAverage qui me renvoie la note générale, par exemple: si rateAverage = 4, l'index de la boucle renverra, (0,1,2,3) donc à chacun des éléments du tableau qui comprends les étoiles, il appliquera la classe CSS. (starsAverage[0], starsAverage[1], etc...)
starsAverage[i].classList.add("checkedAverageStar")
}

{# ---------------------------------------------------------------------- #}

// ici c'est les étoiles du formulaire
let inputs = document.querySelectorAll(".form-check-input")
let fiveStar = 5;

inputs.forEach(function(input, i){
	input.addEventListener("change", function(){
		// ici on sélectionne chaque inputs, pour supprimer la classe "checkedStar" pour éviter d'avoir encore des étoiles jaunes, on le fait avant de rajouter des étoiles.
		for(index = 0; index < fiveStar; index++){
		inputs[index].classList.remove("checkedStar")
		}

		// ici on colorise l'étoile sur laquelle on a cliqué.
		input.classList.add("checkedStar")
		// ici on boucle sur le nombre d'itération des inputs pour récupérer toutes les étoiles avant celle sélectionné.
		for(index = 0; index < i; index++){
			inputs[index].classList.add("checkedStar")
		}
	})
})

{# ---------------------------------------------------------------------- #}

let rateStar = document.querySelectorAll(".rateStar");
let mainArray = [];
let secondArray = [];

for (let i = 0; i < rateStar.length; i += 5) {
  let sliceArray = Array.from(rateStar).slice(i, i + 5);
  mainArray.push(sliceArray);
}

{% for rating in allRatings %}
	{% set rate = rating.rating %}
var rate = {{ rate|json_encode|raw }};
	secondArray.push(rate);
{% endfor %}

mainArray.forEach(function(oneArray, i){
	for(let index = 0; index < secondArray[i]; index++){
		oneArray[index].classList.add("rate")
	}

})

{# ---------------------------------------------------------------------- #}
	let inputsQuantity = document.querySelectorAll(".quantityCartShow");
let hrefs = document.querySelectorAll(".click");
let inputOfValue = 1;
// map = forEach mais renvoie un tableau de plusieurs valeurs.
arrayInputs = Array.from(inputsQuantity).map(function (inputQuantity) {
	return inputQuantity;
});
arrayInputs.forEach(function (input, index) {
	var href = hrefs[index];
	href.addEventListener("click", function(){
		inputValue = input.value
		if(inputValue > 100) {
			inputValue = 0
		}
		// au lien que tu cliques, tu lui récupère son chemin.
		cartHref = href.href;
		// tu initialises l'ajax pour pouvoir envoyer les données de l'input dans le controller add.
		$.ajax({
			type: "POST",
			url: cartHref,
			data: {inputOfValue: inputValue},
		});
	});
});

	</script>

{% endblock %}
