{% extends 'base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href="{{ asset("assets/css/product.css") }}">
{% endblock %}

{% block title %}Nos Produits
{% endblock %}

{% block content %}
	<header id="head" class="secondary" style="min-height: 80px; height:0px"></header>
	<style>
		.secondary {
			background: none !important;
		}
	</style>

<div class="container">

	<div class="row"  style="">
<div class="col-md-4 flexbyme2">


			<a href="{{ path ('product_show', { 'slug' : product.slug } ) }}"><img class="align-self-center img" src="{{ asset('assets/images/')}}{{product.illustration}} " alt="{{ product.name }}" class="img-fluid" width="300px"></a>
		</div>
		<div class="col-md-7" style="height: ">

			<h1>{{product.name}}</h1>
			<span class="product-subtitle">
			<h3>{{ product.subtitle }}</h3>	
			</span>
            <hr>
			<div class="flexbyme"></div>
			<p>{{ product.description }}</p>
			<h3 style="font-weight: bolder" class="product-price">
				<span style="text-decoration: underline">{{ (product.price / 100) |number_format(2, ",",".") }}€</span>	
				<a href=""></a>
			</h3>
			 {% if  product.stock > 0 %}
			<a class="btn-success btn click" href="{{path("cart_add", {"id" : product.id})}}">Ajouter au panier</a>

			{% else %}
				<p  class="text-danger">Produit temporairement en rupture de stock</p>
			{% endif %}

			
			
		</div>
	</div>
</div>

{% endblock %}

{% block script %}

	<script>

		var click1 = document.getElementsByClassName('click');
var nbPanier = document.querySelector('.notify-badge');
var cardButtons = document.querySelectorAll('.card-button');


for (var i = 0; i < click1.length; i++) {

click1[i].addEventListener("click", () => {
nbPanier.classList.add("animation");
setTimeout(function () {
nbPanier.classList.remove("animation");
}, 500);
})
}

cardButtons.forEach(function (cardButton) {
cardButton.addEventListener("click", () => {
cardButton.classList.add("animationcard");
})
})
	</script>

{% endblock %}
